.btn {
    font-weight: bold;
    background-color: transparent;
    color: rgb(65, 62, 62);
}
.btn:hover {
    color: lightgray;
    background-color: rgb(65, 62, 62);
}

@media only screen and (min-width: 992px) {
    #ButtonGroup {
        width: 70%;
        font-size: 50px !important;
        padding: 40px;
    }
    .btn {
        font-weight: bold;
        color: white;
        font-size: 20px;
        background-color: #16b171;
    }
    .btn:hover {
        color: white;
    }
    #Tiffin {
        padding-top: 100px;
    }

    .landing-image {
        opacity: 90%;
        position: absolute;
        width: 100%;
        padding: 0%;
    }
    .order_now_heading {
        text-align: center;
        color: #16b171;
        font-weight: bold;
        font-size: 30px;
        font-family: optima;
    }
    .main_1_hr {
        width: 70%;
    }
    .tiffin-gallary-item {
        width: 55%;
        height: 55%;
    }
    .our-menu-text {
        text-align: center;
        color: #16b171;
        font-weight: bold;
        font-size: 30px;
        font-family: optima;
        padding-bottom: 30px;
        padding-top: 20px;
    }
    body {
        scroll-behavior: smooth;
    }

}