@media only screen and (min-width: 1440px) {
    .landing_image {
      width: 700px;
      height: 640px;
      z-index: 0;
      padding-top: 110px;
      padding-bottom: 0px;
    }
    .tiffin_landing {
      width: 700px;
      height: 640px;
      z-index: 0;
      padding-top: 110px;
      padding-bottom: 0px;
    }
    .landing_images_style{
      width: 550px;
      height: 450px;
    }
    .paper_style {
      width: 550px;
      height: 530px;
      margin: 8%;
      border: 0px;
      background: transparent;
    }
    .landing_images_desc {
      text-align: center;
      color: #16b171;
      font-weight: bold;
      font-size: 20px;
      background-color: white;
      border: 2 px #16b171;
    }
    .Carousel-indicators-2 {
      visibility: hidden;
    }
    .icon {
      width: 90px;
      height: 90px;
    }
    .icons_row {
      text-align: center;
      margin-right: 15%;
      margin-left: -10%px;
      margin-top: 25%;
      margin-bottom: -40%;
    }
    .landing_images_col {
      margin-top: 6%;
    }
    .icon_desc {
      color: #16b171;
      font-weight: bold;
    }
    
    .try_now {
      color: #16b171;
      font-weight: bold;
    }
  }

  .btn_try_now {
    color: white;
    background-color: #16b171;
    border: 2px solid white;
    padding-bottom: 15px;
  }
  .btn_try_now:hover{
    color: #16b171;
    background-color: white;
    border: 2px solid #16b171;
  }